body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to bottom right, #fff5f8, #ffeef5);
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth-card {
  background: white;
  padding: 2rem;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  color: #e91e63;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.tab-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-buttons button {
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  border: none;
  background: #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.tab-buttons button.active {
  background: linear-gradient(to right, #ff4081, #f50057);
  color: white;
  font-weight: bold;
  box-shadow: 0 3px 8px rgba(255, 64, 129, 0.3);
}

.auth-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.auth-form label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.auth-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 15px;
}

.submit-btn {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(to right, #ff4081, #f50057);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  opacity: 0.9;
}

.forgot-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #e91e63;
  text-decoration: none;
}

.error-text {
    color: #e91e63;
    padding: 10px 0;
}